.btn-primary {
    color: #fff;
    background-color: #1C6E8C;
    border-color: #1C6E8C;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus{
    color: #fff;
    background-color: #274156;
    border-color: #274156;
}

.grey{
    background-color: #605856;
}

.nav-link:focus, .nav-link:hover{
    color: #274156;
}

.body{
    background-color: #D0CCD0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
  }
.grid-item {
 background-color: #ffffff;
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 30px;
text-align: center;
 }

